# Archivos y carpetas generadas por Eclipse
/.classpath
/.project
/.settings/

# Archivos de compilación
/bin/
/build/

# Archivos generados por Maven o Gradle (si aplican)
target/
.gradle/
*.log

# Archivos del sistema
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db
*config.properties
config.properties
./config.properties
